.character-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;

  .character-card {
    border: 2px solid;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0.2rem 0.2rem #000;
    filter: grayscale(1);
    transition: all 0.4s ease-in-out;
    padding: 1rem;
    text-align: center;

    &:hover {
      filter: grayscale(0);
    }

    .character-name {
      color: #fff;
    }

    .character-btn {
      display: flex;
      transition: all 0.4s ease-in-out;

      &:hover {
        cursor: pointer;
        box-shadow: 10px 10px black;
      }
    }
  }
}
